.topnav {
    background-color: rgb(255, 228, 228);
    position:fixed;
    width: 100%;
    top: 0;
}

.topnav-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
}

.topnav-section {
    grid-column: span 4;
    margin: 0px auto;
}
  
.site-logo {
    text-align: center;
    display: block;
    padding: 14px 16px;
    font-size: 17px;
}

.site-nav-link {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}

.site-nav-link:hover {
    color: black;
}

.site-nav-dropdown-block {
    float:left;
    position: relative;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}

.site-nav-dropdown-link {
    background-color: rgb(255, 228, 228);
    position: absolute;
    display: block;
    width: 150px;
    margin-top: 13px;
}

.icon:hover {
    cursor: pointer;
}

.icon,
.small-menu-block {
    display:none;
}

  
@media screen and (max-width: 910px) {
    .site-nav-link,
    .site-nav-dropdown-block {
        display: none;
    }

    .topnav-section {
        grid-column: span 3;
    }

    .icon {
        width: 100%;
        display: block;
        padding: 14px 16px;
        font-size: 17px;
        color: #000000;
    }
    

    .small-menu-block {
        margin-top: 48px;
        display:block;
        background-color: rgb(255, 228, 228);
        color: #000000;
    }

    .small-menu-nav {
        font-size: 14px;
        padding: 10px;
        cursor: pointer;
    }

    .small-menu-divider{
        width: 80%;
    }
}